// Variables
$color-body-text: #fff;
$color-text-dark: rgb(73, 90, 80);
$color-button-active: rgb(162, 211, 200);
$color-order-hover: rgb(29, 146, 121);
$color-order-active: rgba(102, 211, 169, 0.75);